ETNA.MVC/Service References/ProgramacionServices/Programacion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Programacion" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:6078/PV/Programacion.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:6078/PV/Programacion.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:6078/PV/Programacion.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ETNA.DTOs.PV" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProgramacion_InsertarProgramacion_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarProgramacion" />
  </wsdl:message>
  <wsdl:message name="IProgramacion_InsertarProgramacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarProgramacionResponse" />
  </wsdl:message>
  <wsdl:message name="IProgramacion_EditarProgramacion_InputMessage">
    <wsdl:part name="parameters" element="tns:EditarProgramacion" />
  </wsdl:message>
  <wsdl:message name="IProgramacion_EditarProgramacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarProgramacionResponse" />
  </wsdl:message>
  <wsdl:message name="IProgramacion_ListaProgramaciones_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaProgramaciones" />
  </wsdl:message>
  <wsdl:message name="IProgramacion_ListaProgramaciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaProgramacionesResponse" />
  </wsdl:message>
  <wsdl:message name="IProgramacion_ObtenerProgramacion_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerProgramacion" />
  </wsdl:message>
  <wsdl:message name="IProgramacion_ObtenerProgramacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerProgramacionResponse" />
  </wsdl:message>
  <wsdl:portType name="IProgramacion">
    <wsdl:operation name="InsertarProgramacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgramacion/InsertarProgramacion" message="tns:IProgramacion_InsertarProgramacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgramacion/InsertarProgramacionResponse" message="tns:IProgramacion_InsertarProgramacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditarProgramacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgramacion/EditarProgramacion" message="tns:IProgramacion_EditarProgramacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgramacion/EditarProgramacionResponse" message="tns:IProgramacion_EditarProgramacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListaProgramaciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgramacion/ListaProgramaciones" message="tns:IProgramacion_ListaProgramaciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgramacion/ListaProgramacionesResponse" message="tns:IProgramacion_ListaProgramaciones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerProgramacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgramacion/ObtenerProgramacion" message="tns:IProgramacion_ObtenerProgramacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgramacion/ObtenerProgramacionResponse" message="tns:IProgramacion_ObtenerProgramacion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProgramacion" type="tns:IProgramacion">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarProgramacion">
      <soap:operation soapAction="http://tempuri.org/IProgramacion/InsertarProgramacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarProgramacion">
      <soap:operation soapAction="http://tempuri.org/IProgramacion/EditarProgramacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaProgramaciones">
      <soap:operation soapAction="http://tempuri.org/IProgramacion/ListaProgramaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerProgramacion">
      <soap:operation soapAction="http://tempuri.org/IProgramacion/ObtenerProgramacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Programacion">
    <wsdl:port name="BasicHttpBinding_IProgramacion" binding="tns:BasicHttpBinding_IProgramacion">
      <soap:address location="http://localhost:6078/PV/Programacion.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>