ETNA.MVC/Service References/ProgramacionServices/Programacion2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6078/PV/Programacion.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ETNA.DTOs.PV" />
  <xs:element name="InsertarProgramacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoProgramacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="periodicidad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="porcentajeEncuestados" type="xs:double" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="diasVigencia" type="xs:short" />
        <xs:element minOccurs="0" name="plantillaId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarProgramacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarProgramacionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarProgramacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPrograma" type="xs:int" />
        <xs:element minOccurs="0" name="codigoProgramacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="periodicidad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="porcentajeEncuestados" type="xs:double" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="diasVigencia" type="xs:short" />
        <xs:element minOccurs="0" name="plantillaId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarProgramacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditarProgramacionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaProgramaciones">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaProgramacionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ETNA.DTOs.PV" minOccurs="0" name="ListaProgramacionesResult" nillable="true" type="q1:ArrayOfProgramacionDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerProgramacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPrograma" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerProgramacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ETNA.DTOs.PV" minOccurs="0" name="ObtenerProgramacionResult" nillable="true" type="q2:ProgramacionDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>