ETNA.MVC/Service References/ProgramacionServices/Programacion.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ETNA.DTOs.PV" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ETNA.DTOs.PV" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProgramacionDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProgramacionDto" nillable="true" type="tns:ProgramacionDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProgramacionDto" nillable="true" type="tns:ArrayOfProgramacionDto" />
  <xs:complexType name="ProgramacionDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoProgramacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionEstado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionPeriodicidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiasVigencia" type="xs:short" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="NombrePlantilla" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Periodicidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlantillaId" type="xs:int" />
      <xs:element minOccurs="0" name="PorcentajeEncuestados" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProgramacionDto" nillable="true" type="tns:ProgramacionDto" />
</xs:schema>