ETNA.MVC/Service References/PostVentaServices/Reclamos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Reclamos" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:6078/PV/Reclamos.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:6078/PV/Reclamos.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:6078/PV/Reclamos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ETNA.DTOs.PV" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReclamos_InsertarReclamo_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarReclamo" />
  </wsdl:message>
  <wsdl:message name="IReclamos_InsertarReclamo_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarReclamoResponse" />
  </wsdl:message>
  <wsdl:message name="IReclamos_EditarReclamo_InputMessage">
    <wsdl:part name="parameters" element="tns:EditarReclamo" />
  </wsdl:message>
  <wsdl:message name="IReclamos_EditarReclamo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarReclamoResponse" />
  </wsdl:message>
  <wsdl:message name="IReclamos_ListaReclamos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaReclamos" />
  </wsdl:message>
  <wsdl:message name="IReclamos_ListaReclamos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaReclamosResponse" />
  </wsdl:message>
  <wsdl:message name="IReclamos_ObtenerReclamo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerReclamo" />
  </wsdl:message>
  <wsdl:message name="IReclamos_ObtenerReclamo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerReclamoResponse" />
  </wsdl:message>
  <wsdl:portType name="IReclamos">
    <wsdl:operation name="InsertarReclamo">
      <wsdl:input wsaw:Action="http://tempuri.org/IReclamos/InsertarReclamo" message="tns:IReclamos_InsertarReclamo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReclamos/InsertarReclamoResponse" message="tns:IReclamos_InsertarReclamo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditarReclamo">
      <wsdl:input wsaw:Action="http://tempuri.org/IReclamos/EditarReclamo" message="tns:IReclamos_EditarReclamo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReclamos/EditarReclamoResponse" message="tns:IReclamos_EditarReclamo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListaReclamos">
      <wsdl:input wsaw:Action="http://tempuri.org/IReclamos/ListaReclamos" message="tns:IReclamos_ListaReclamos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReclamos/ListaReclamosResponse" message="tns:IReclamos_ListaReclamos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerReclamo">
      <wsdl:input wsaw:Action="http://tempuri.org/IReclamos/ObtenerReclamo" message="tns:IReclamos_ObtenerReclamo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReclamos/ObtenerReclamoResponse" message="tns:IReclamos_ObtenerReclamo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReclamos" type="tns:IReclamos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarReclamo">
      <soap:operation soapAction="http://tempuri.org/IReclamos/InsertarReclamo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarReclamo">
      <soap:operation soapAction="http://tempuri.org/IReclamos/EditarReclamo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaReclamos">
      <soap:operation soapAction="http://tempuri.org/IReclamos/ListaReclamos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerReclamo">
      <soap:operation soapAction="http://tempuri.org/IReclamos/ObtenerReclamo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Reclamos">
    <wsdl:port name="BasicHttpBinding_IReclamos" binding="tns:BasicHttpBinding_IReclamos">
      <soap:address location="http://localhost:6078/PV/Reclamos.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>