ETNA.MVC/Service References/PostVentaServices/Reclamos1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ETNA.DTOs.PV" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ETNA.DTOs.PV" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfReclamoDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReclamoDto" nillable="true" type="tns:ReclamoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReclamoDto" nillable="true" type="tns:ArrayOfReclamoDto" />
  <xs:complexType name="ReclamoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoReclamo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionEstado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Detalle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaHoraReclamo" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaRespuesta" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdFacturaDetalle" type="xs:int" />
      <xs:element minOccurs="0" name="Motivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreRegistrador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroFactura" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observaciones" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReclamoDto" nillable="true" type="tns:ReclamoDto" />
</xs:schema>