ETNA.MVC/Service References/LogisticaServices/EntradasYSalidasService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ETNA.DTOs.LO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ETNA.DTOs.LO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAlmacenDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AlmacenDto" nillable="true" type="tns:AlmacenDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlmacenDto" nillable="true" type="tns:ArrayOfAlmacenDto" />
  <xs:complexType name="AlmacenDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlmacenDto" nillable="true" type="tns:AlmacenDto" />
  <xs:complexType name="ArrayOfListaSolicitudEntradaDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListaSolicitudEntradaDto" nillable="true" type="tns:ListaSolicitudEntradaDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListaSolicitudEntradaDto" nillable="true" type="tns:ArrayOfListaSolicitudEntradaDto" />
  <xs:complexType name="ListaSolicitudEntradaDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="FechaElaboracion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="NombreEmpleado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoEntrada" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListaSolicitudEntradaDto" nillable="true" type="tns:ListaSolicitudEntradaDto" />
  <xs:complexType name="SolicitudEntradaDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Detalle" nillable="true" type="tns:ArrayOfDetalleSolicitudEntradaDto" />
      <xs:element minOccurs="0" name="FechaElaboracion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="NombreEmpleado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoEntrada" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SolicitudEntradaDto" nillable="true" type="tns:SolicitudEntradaDto" />
  <xs:complexType name="ArrayOfDetalleSolicitudEntradaDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DetalleSolicitudEntradaDto" nillable="true" type="tns:DetalleSolicitudEntradaDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDetalleSolicitudEntradaDto" nillable="true" type="tns:ArrayOfDetalleSolicitudEntradaDto" />
  <xs:complexType name="DetalleSolicitudEntradaDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="NombreProducto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DetalleSolicitudEntradaDto" nillable="true" type="tns:DetalleSolicitudEntradaDto" />
</xs:schema>