ETNA.MVC/Service References/FacturasServices/Facturas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6078/PV/Facturas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ETNA.DTOs.PV" />
  <xs:import schemaLocation="http://localhost:6078/PV/Facturas.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="ListaFacturas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaFacturasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ETNA.DTOs.PV" minOccurs="0" name="ListaFacturasResult" nillable="true" type="q1:ArrayOfFacturaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerFactura">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idFactura" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerFacturaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ETNA.DTOs.PV" minOccurs="0" name="ObtenerFacturaResult" nillable="true" type="q2:FacturaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaFacturaDetalles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idFactura" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaFacturaDetallesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ETNA.DTOs.PV" minOccurs="0" name="ListaFacturaDetallesResult" nillable="true" type="q3:ArrayOfFacturaDetalleDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NroPaginasPorDetalleNroFactura">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nroFactura" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NroPaginasPorDetalleNroFacturaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="NroPaginasPorDetalleNroFacturaResult" nillable="true" type="q4:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDetallePorNroFactura">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nroFactura" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nroPagina" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDetallePorNroFacturaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ETNA.DTOs.PV" minOccurs="0" name="ListarDetallePorNroFacturaResult" nillable="true" type="q5:ArrayOfFacturaDetalleDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerFacturaDetalle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idDetalle" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerFacturaDetalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ETNA.DTOs.PV" minOccurs="0" name="ObtenerFacturaDetalleResult" nillable="true" type="q6:FacturaDetalleDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>