ETNA.MVC/Service References/PlantillasServices/Plantillas1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ETNA.DTOs.PV" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ETNA.DTOs.PV" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPlantillaDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlantillaDto" nillable="true" type="tns:PlantillaDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlantillaDto" nillable="true" type="tns:ArrayOfPlantillaDto" />
  <xs:complexType name="PlantillaDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlantillaDto" nillable="true" type="tns:PlantillaDto" />
</xs:schema>