ETNA.MVC/Service References/FabricacionServices/LotesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LotesService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:6078/FB/LotesService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:6078/FB/LotesService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:6078/FB/LotesService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ETNA.DTOs.FB" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILotesService_InsertarLote_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarLote" />
  </wsdl:message>
  <wsdl:message name="ILotesService_InsertarLote_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarLoteResponse" />
  </wsdl:message>
  <wsdl:message name="ILotesService_EditarLote_InputMessage">
    <wsdl:part name="parameters" element="tns:EditarLote" />
  </wsdl:message>
  <wsdl:message name="ILotesService_EditarLote_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarLoteResponse" />
  </wsdl:message>
  <wsdl:message name="ILotesService_EliminarLote_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarLote" />
  </wsdl:message>
  <wsdl:message name="ILotesService_EliminarLote_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarLoteResponse" />
  </wsdl:message>
  <wsdl:message name="ILotesService_ListaLotes_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaLotes" />
  </wsdl:message>
  <wsdl:message name="ILotesService_ListaLotes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaLotesResponse" />
  </wsdl:message>
  <wsdl:portType name="ILotesService">
    <wsdl:operation name="InsertarLote">
      <wsdl:input wsaw:Action="http://tempuri.org/ILotesService/InsertarLote" message="tns:ILotesService_InsertarLote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILotesService/InsertarLoteResponse" message="tns:ILotesService_InsertarLote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditarLote">
      <wsdl:input wsaw:Action="http://tempuri.org/ILotesService/EditarLote" message="tns:ILotesService_EditarLote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILotesService/EditarLoteResponse" message="tns:ILotesService_EditarLote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarLote">
      <wsdl:input wsaw:Action="http://tempuri.org/ILotesService/EliminarLote" message="tns:ILotesService_EliminarLote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILotesService/EliminarLoteResponse" message="tns:ILotesService_EliminarLote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListaLotes">
      <wsdl:input wsaw:Action="http://tempuri.org/ILotesService/ListaLotes" message="tns:ILotesService_ListaLotes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILotesService/ListaLotesResponse" message="tns:ILotesService_ListaLotes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILotesService" type="tns:ILotesService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarLote">
      <soap:operation soapAction="http://tempuri.org/ILotesService/InsertarLote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarLote">
      <soap:operation soapAction="http://tempuri.org/ILotesService/EditarLote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarLote">
      <soap:operation soapAction="http://tempuri.org/ILotesService/EliminarLote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaLotes">
      <soap:operation soapAction="http://tempuri.org/ILotesService/ListaLotes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LotesService">
    <wsdl:port name="BasicHttpBinding_ILotesService" binding="tns:BasicHttpBinding_ILotesService">
      <soap:address location="http://localhost:6078/FB/LotesService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>