ETNA.MVC/Service References/FabricacionServices/LotesService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ETNA.DTOs.FB" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ETNA.DTOs.FB" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLoteDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LoteDto" nillable="true" type="tns:LoteDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLoteDto" nillable="true" type="tns:ArrayOfLoteDto" />
  <xs:complexType name="LoteDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="DescripcionTipoLote" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="NroLote" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoteDto" nillable="true" type="tns:LoteDto" />
</xs:schema>