ETNA.MVC/Service References/InformesReclamosServices/InformesReclamos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6078/PV/InformesReclamos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ETNA.DTOs.PV" />
  <xs:element name="InsertarInformeReclamo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoInforme" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="detalleInforme" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaAprobacion" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaElaboracion" type="xs:dateTime" />
        <xs:element minOccurs="0" name="observacionAprobador" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reclamoId" type="xs:int" />
        <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="aprobadoPorId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarInformeReclamoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarInformeReclamoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarInformeReclamo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idInforme" type="xs:int" />
        <xs:element minOccurs="0" name="codigoInforme" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="detalleInforme" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaAprobacion" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaElaboracion" type="xs:dateTime" />
        <xs:element minOccurs="0" name="observacionAprobador" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reclamoId" type="xs:int" />
        <xs:element minOccurs="0" name="elboradoPorId" type="xs:int" />
        <xs:element minOccurs="0" name="aprobadoPorId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarInformeReclamoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditarInformeReclamoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaInfomesReclamos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaInfomesReclamosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ETNA.DTOs.PV" minOccurs="0" name="ListaInfomesReclamosResult" nillable="true" type="q1:ArrayOfInformeReclamoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaInformesReclamosPendientes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaInformesReclamosPendientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ETNA.DTOs.PV" minOccurs="0" name="ListaInformesReclamosPendientesResult" nillable="true" type="q2:ArrayOfInformeReclamoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AprobarInformeReclamo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idInforme" type="xs:int" />
        <xs:element minOccurs="0" name="fechaAprobacion" type="xs:dateTime" />
        <xs:element minOccurs="0" name="observacionAprobador" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AprobarInformeReclamoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AprobarInformeReclamoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerInformeReclamo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idInforme" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerInformeReclamoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ETNA.DTOs.PV" minOccurs="0" name="ObtenerInformeReclamoResult" nillable="true" type="q3:InformeReclamoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>